<div class="w-full h-full">
    <div class="flex flex-col">
        <h1 class="text-2xl sm:text-3xl font-display font-medium mb-2">
            Meu Setup
        </h1>
        <h2 class="text-lg sm:text-xl font-display font-light text-gray-500 italic pb-8">
            Qualquer semelhança com um outro modelo de camadas é mera coincidência.
        </h2>

        <!-- Camada de Aplicação -->
        <div class="flex flex-col border-2 border-palletemagenta p-6 rounded-2xl shadow-xl mb-6">
            <div class="flex flex-row items-center gap-3 pb-4 border-b border-gray-200">
                <span class="font-tech text-xl text-palletemagenta">Camada 7</span>
                <h3 class="font-display text-2xl font-medium">Aplicação</h3>
            </div>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 pt-4">
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-blue-100 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://m.media-amazon.com/images/I/51rttY7a+9L.png" alt="" class="w-3xl">
                    </div>
                    <span
                        class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Spotify</span>
                </div>

                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-red-100 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/VSCodium_Logo.png" alt=""
                            class="w-3xl">
                    </div>
                    <span
                        class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">VSCodium</span>
                </div>

                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-indigo-100 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Firefox_logo%2C_2019.svg/1280px-Firefox_logo%2C_2019.svg.png"
                            alt="" class="w-3xl">
                    </div>
                    <span
                        class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Firefox</span>
                </div>

                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-green-100 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Calligrakrita-base.svg" alt=""
                            class="w-3xl">
                    </div>
                    <span
                        class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Krita</span>
                </div>

                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/OBS_Studio_logo.png" alt=""
                            class="w-3xl">
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">OBS
                        Studio</span>
                </div>

                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-blue-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <img src="https://www.clipartmax.com/png/middle/190-1909658_discord-logo.png" alt=""
                            class="w-3xl">
                    </div>
                    <span
                        class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Discord</span>
                </div>
            </div>
        </div>

        <!-- Camada de Sistema -->
        <div class="flex flex-col border-2 border-palletemagenta p-6 rounded-2xl shadow-xl mb-6">
            <div class="flex flex-row items-center gap-3 pb-4 border-b border-gray-200">
                <span class="font-tech text-xl text-palletemagenta">Camada 6-4</span>
                <h3 class="font-display text-2xl font-medium">Sistema Operacional</h3>
            </div>

            <div class="flex justify-center pt-6">
                <div class="flex flex-col items-center group cursor-pointer max-w-xs">
                    <div
                        class="w-24 h-24 bg-blue-50 rounded-3xl flex items-center justify-center group-hover:scale-110 transition-transform mb-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/NixOS_logo.svg" alt=""
                            class="w-3xl">
                    </div>
                    <span class="font-tech text-xl text-center text-gray-700 group-hover:text-linkactive">NixOS +
                        COSMIC</span>
                </div>
            </div>

        </div>

        <!-- Camada de Hardware -->
        <div class="flex flex-col border-2 border-palletemagenta p-6 rounded-2xl shadow-xl">
            <div class="flex flex-row items-center gap-3 pb-4 border-b border-gray-200">
                <span class="font-tech text-xl text-palletemagenta">Camada 1-3</span>
                <h3 class="font-display text-2xl font-medium">Hardware</h3>
            </div>

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 pt-4">
                <!-- Notebook -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">💻</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">
                        Vaio Fe15 Ryzen 7 16Gb 512Gb</span>
                </div>

                <!-- Mouse -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">🖱️</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Redragon
                        Cobra Pro</span>
                </div>

                <!-- Teclado -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">⌨️</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Gasket
                        Mount Triple Mode</span>
                </div>

                <!-- Monitor -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">🖥️</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">LG
                        Ultrawide 34'</span>
                </div>

                <!-- Headset -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">🎧</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Qcy
                        Melobuds Pro Ht08</span>
                </div>

                <!-- Webcam -->
                <div class="flex flex-col items-center group cursor-pointer">
                    <div
                        class="w-16 h-16 bg-gray-200 rounded-2xl flex items-center justify-center group-hover:scale-110 transition-transform">
                        <span class="text-3xl">📹</span>
                    </div>
                    <span class="font-sans text-sm text-center mt-2 text-gray-700 group-hover:text-linkactive">Redragon
                        Apex 2</span>
                </div>
            </div>
        </div>

        <div class="mt-6 text-xs text-gray-400 italic border-t border-gray-200 pt-4">
            <p>* Modelo OSI simplificado para representar meu setup</p>
            <p>** Muita gente gosta de ler observações</p>
        </div>
    </div>
</div>