<div class="w-full md:pr-8">
    <!-- Menu horizontal em mobile, vertical em desktop -->
    <ul class="font-tech font-light flex flex-row flex-wrap md:flex-col gap-4 md:gap-0 justify-center">
        <li class="md:pb-2">
            <a routerLink="/" routerLinkActive="text-linkactive"
                class="text-linkinactive hover:text-linkactive whitespace-nowrap text-sm md:text-base">
                Home
            </a>
        </li>
        <li class="md:pb-2">
            <a routerLink="/experience" routerLinkActive="text-linkactive"
                class="text-linkinactive hover:text-linkactive whitespace-nowrap text-sm md:text-base">
                Experience
            </a>
        </li>
        <li class="md:pb-2">
            <a routerLink="/projects" routerLinkActive="text-linkactive"
                class="text-linkinactive hover:text-linkactive whitespace-nowrap text-sm md:text-base">
                Projects
            </a>
        </li>
        <li class="md:pb-2">
            <a routerLink="/contact" routerLinkActive="text-linkactive"
                class="text-linkinactive hover:text-linkactive whitespace-nowrap text-sm md:text-base">
                Contact
            </a>
        </li>
        <li class="md:pb-2">
            <a routerLink="/setup" routerLinkActive="text-linkactive"
                class="text-linkinactive hover:text-linkactive whitespace-nowrap text-sm md:text-base">
                Setup
            </a>
        </li>
    </ul>
</div>