<div class="grid col-span-1 pr-8">
    <ul class="font-tech font-light">
        <li class="pb-2 ">

            <a routerLink="" class="text-linkinactive hover:text-linkactive flex flex-row items-center">
                <home-outline-icon class="mr-1" />
                Home</a>
        </li>
        <li class="pb-2">
            <a routerLink="" class="text-linkinactive hover:text-linkactive">Experience</a>
        </li>
        <li class="pb-2">
            <a routerLink="" class="text-linkinactive hover:text-linkactive">Projects</a>
        </li>
        <li class="pb-2">
            <a routerLink="" class="text-linkinactive hover:text-linkactive">Contact</a>
        </li>
        <li class="pb-2">
            <a routerLink="" class="text-linkinactive hover:text-linkactive">Setup</a>
        </li>
    </ul>

</div>